Cap17/ClienteWebWCFConverTemps/App_WebReferences/RefServWCFConverTemps/ServWebWCFConverTemps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://websol.aut.uah.es/ServiciosWeb/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://websol.aut.uah.es/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://websol.aut.uah.es/ServiciosWeb/Imports">
      <xsd:import schemaLocation="http://localhost/ServWebWCFConverTemps/ServWebWCFConverTemps.svc?xsd=xsd0" namespace="http://websol.aut.uah.es/ServiciosWeb/" />
      <xsd:import schemaLocation="http://localhost/ServWebWCFConverTemps/ServWebWCFConverTemps.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServWebWCFConverTemps_ConvCentAFahr_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvCentAFahr" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvCentAFahr_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvCentAFahrResponse" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvFahrACent_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvFahrACent" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ConvFahrACent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvFahrACentResponse" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ResultadoDetallado_InputMessage">
    <wsdl:part name="parameters" element="tns:ResultadoDetallado" />
  </wsdl:message>
  <wsdl:message name="IServWebWCFConverTemps_ResultadoDetallado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultadoDetalladoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServWebWCFConverTemps">
    <wsdl:operation name="ConvCentAFahr">
      <wsdl:input wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ConvCentAFahr" message="tns:IServWebWCFConverTemps_ConvCentAFahr_InputMessage" />
      <wsdl:output wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ConvCentAFahrResponse" message="tns:IServWebWCFConverTemps_ConvCentAFahr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvFahrACent">
      <wsdl:input wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ConvFahrACent" message="tns:IServWebWCFConverTemps_ConvFahrACent_InputMessage" />
      <wsdl:output wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ConvFahrACentResponse" message="tns:IServWebWCFConverTemps_ConvFahrACent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResultadoDetallado">
      <wsdl:input wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ResultadoDetallado" message="tns:IServWebWCFConverTemps_ResultadoDetallado_InputMessage" />
      <wsdl:output wsaw:Action="http://websol.aut.uah.es/ServiciosWeb/IServWebWCFConverTemps/ResultadoDetalladoResponse" message="tns:IServWebWCFConverTemps_ResultadoDetallado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>