Cap17/ClienteWCFLinq/App_WebReferences/RefServicioTfnos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServicioWCFLinq/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ObtenerTfnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTfnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerTfnosResult" nillable="true" type="q1:ArrayOfDetalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTfno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTfnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerTfnoResult" nillable="true" type="q2:telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTfno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="entidad" nillable="true" type="q3:telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTfnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTfno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="entidad" nillable="true" type="q4:telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTfnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTfno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="entidad" nillable="true" type="q5:telefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarTfnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>