Cap17/ClienteWCFLinq/App_WebReferences/RefServicioTfnos/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServicioWCFLinq/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServicioWCFLinq/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicioWCFLinq/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ObtenerTfnos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTfnos" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerTfnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTfnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerTfno_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTfno" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerTfno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTfnoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarTfno_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTfno" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarTfno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTfnoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarTfno_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTfno" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarTfno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarTfnoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BorrarTfno_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTfno" />
  </wsdl:message>
  <wsdl:message name="IService_BorrarTfno_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarTfnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ObtenerTfnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerTfnos" message="tns:IService_ObtenerTfnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerTfnosResponse" message="tns:IService_ObtenerTfnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTfno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerTfno" message="tns:IService_ObtenerTfno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerTfnoResponse" message="tns:IService_ObtenerTfno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTfno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarTfno" message="tns:IService_ActualizarTfno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarTfnoResponse" message="tns:IService_ActualizarTfno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarTfno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarTfno" message="tns:IService_AgregarTfno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarTfnoResponse" message="tns:IService_AgregarTfno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTfno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BorrarTfno" message="tns:IService_BorrarTfno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BorrarTfnoResponse" message="tns:IService_BorrarTfno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTfnos">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerTfnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTfno">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerTfno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTfno">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarTfno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarTfno">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarTfno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTfno">
      <soap:operation soapAction="http://tempuri.org/IService/BorrarTfno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/ServicioWCFLinq/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>